<h1>Hello, Rails!</h1>
  <%="Welcome! "%><%=current_user.email%>
<li>
  <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
</li>
<br>
  <%= link_to "Questions", questions_path %>
</br>
